{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
# 'brew tap'
# tap nikitabobko/tap

# 'brew install'
# brew "fzf"
# brew "chezmoi"
# brew "starship"
# brew "bat"
# brew "eza"
# brew "fd"
# brew "procs"
# brew "sd"
# brew "dust"
# brew "ripgrep"
# brew "lazygit"
# brew "antidote"
# brew "uv"
# brew "golang"
# brew "fastfetch"

# 'mas install'
mas "Klack", id: 6_446_206_067
mas "Amphetamine", id: 937_984_704
# mas "rcmd", id: 1_596_283_165
# mas "Presentify - Screen Annotation", id: 1_507_246_666
# mas "HazeOver • Distraction Dimmer", id: 430_798_174
# mas "Photomator - Photo Editor", id: 1_444_636_541
# mas "Pixelmator Pro", id: 1_289_583_905
# mas "Streaks", id: 963_034_692
# mas "Craft - Docs and Notes Editor", id: 1_487_937_127
# mas "Unsplash Wallpapers", id: 1_284_863_847

# 'brew install --cask'
cask "fastmail"
cask "slack"
cask "orbstack"
cask "ghostty"
cask "keyboard-maestro"
cask "1password"
cask "1password-cli"
cask "todoist-app"
cask "obsidian"
cask "nvidia-geforce-now"
cask "bettertouchtool"
cask "telegram"
cask "obs"
cask "lulu"
cask "daisydisk"
cask "zed"
cask "steam"
cask "discord"
# cask "morgen"
# cask "google-drive"
# cask "linear-linear"
# cask "grammarly-desktop"
# cask "heptabase"
# cask "zoom"
# cask "raycast"
# cask "claude"
# cask "godot"
# cask "superwhisper"
# cask "anytype"
# cask "affine"
# cask "betterdisplay"
# cask "arc"
# cask "istat-menus"
# cask "cleanshot"
# cask "notion"
# cask "notion-calendar"
# cask "boom-3d"
# cask "screen-studio"
# cask "epic-games"
# cask "ollama"
# cask "warp"
# cask "reaper"
# cask "figma"
# cask "beeper"
# cask "devonthink"
# cask "devonagent"
# cask "ubersicht"
# cask "soundsource"
# cask "jan"
# cask "bartender"
# cask aerospace
EOF
{{ end -}}
